<!DOCTYPE html>
<html ng-app="bookApp">
<head lang="en">
    <meta charset="UTF-8">
    <title>Web Development</title>
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
    <link rel="stylesheet" href="http://www.wemlion.com/styles/apollo.css">
    <style>
        .wrap {width: 800px;}
    </style>
    <script src="//cdn.bootcss.com/angular.js/1.4.12/angular.min.js"></script>
</head>

<body>
    <div class="wrap ng-cloak" ng-controller="ListController">
        <input type="text" ng-model="keyword">
        <section class="container">
            <div class="archive">
                <div class="post-item" ng-repeat="item in data">
                    <div class="post-item">
                        <a href="{{item.href}}" title="Date-in-Javascript" class="post-title-link" target="_blank">
                            {{item.title}}
                        </a>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <script>
        var data = <%- data %>;
    </script>
    <script>
        angular.module('bookApp', [])
            .controller('ListController', ['$http', '$timeout', '$scope', function($http, $timeout, $scope){
                $scope.data = data;

                $scope.$watch('keyword', function(newValue, oldValue, scope) {
                    if (newValue == oldValue || !newValue) return;

                    if ($scope.timer) {
                        $timeout.cancel($scope.timer);
                    }

                    $scope.timer = $timeout(function() {
                        $scope.data = data.filter(function(item) {
                            return item && item.title.indexOf(newValue) > -1;
                        });
                    }, 200);
                });
            }]);
    </script>
</body>
</html>
